    <div id="footer">

      <div id="footer-wrap" class="content">

        <div id="copyright" class="fl">
          <p>
            <a href="http://zenorocha.com/">
              <img src="http://media.zenorocha.com/footer-zenorocha.png" alt="zenorocha.com" />
            </a>
          </p>
        </div><!-- /#copyright -->

        <div id="credit" class="fr">
          <p>
            <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/3.0/deed.pt_BR">
              <img alt="Licença Creative Commons" style="border-width:0" src="http://media.zenorocha.com/creative-commons.png" />
            </a>
          </p>
        </div> <!-- /#main -->

        <div class="fix"></div>

      </div><!-- /#footer-wrap -->

    </div><!-- /#footer -->