<div id="header" class="content">

  <div id="logo" class="fl">
    <h1 class="site-title">
      <a href="/"><img src="http://media.zenorocha.com/zenorocha.png" alt="Home" /></a>
    </h1>
  </div><!-- /#logo -->

  <div id="top-right" class="fr">

    <div id="icons" class="fl">
      <a href="http://feeds.feedburner.com/zenorocha" title="RSS"><img src="/assets/img/ico-rss.png" alt="RSS" /></a>
      <!-- <a href="/archive" title="Arquivos"><img src="/assets/img/ico-archives.png" alt="Arquivos" /></a>
      <a href="/mobile" title="Mobile"><img src="/assets/img/ico-mobile.png" alt="Mobile" /></a> -->
    </div><!-- /#icons -->

    <!-- <div id="search" class="fl">
      <form method="get" class="searchform" action="/search">
          <input type="text" class="field s" name="q" value="Pesquisar..." onfocus="if (this.value == 'Pesquisar...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Pesquisar...';}" />
          <input type="image" class="submit" name="submit" value="Go" src="/assets/img/btn-search.png" />
      </form>
    </div> --><!-- /#search -->

  </div><!-- /#top-right -->

</div><!-- /#header -->