      <div id="sidebar" class="fr">

        <div class="widget">

          <h3 class="title">
            <img src="http://media.zenorocha.com/sobre.png" alt="Sobre" />
          </h3>

          <div class="widget-content">

            <a href="http://zenorocha.com">
              <img class="gravatar" src="http://media.zenorocha.com/blog/avatar.jpg" alt="Avatar - Zeno" />
            </a>
            <div class="widget-about">
              <strong>Zeno Rocha</strong><br /> Front-end Engineer na empresa <strong><a href="http://liferay.com">Liferay, Inc</a></strong>.<br /><br /> Já foi desenvolvedor de software na Petrobras e no Globoesporte.com. Curitibano, mora há 4 anos no Rio de Janeiro. Tem 21 anos e é estudante de Sistemas de Informação na Universidade Federal do Estado do Rio de Janeiro.<br />
              <a href="http://twitter.com/zenorocha" class="twitter-follow-button">Follow @zenorocha</a>
              <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
            </div><!-- /.widget-about -->

            <div class="fix"></div>

          </div><!-- /.widget-content -->

        </div><!-- /.widget -->

        <div class="action-buttons">

          <div class="ask space">
            <a href="http://smallactsmanifesto.org/">
              <img src="http://media.zenorocha.com/smallacts.png" alt="#smallacts" />
            </a>
          </div><!-- /.ask -->

          <!-- <div class="widget">

            <h3 class="title">
              <img src="http://media.zenorocha.com/referencias.png" alt="Referências" />
            </h3>

            <div class="widget-content">
              <ul>
                <li><a href="http://paulirish.com/" rel="external">Paul Irish</a></li>
                <li><a href="http://ejohn.org/" rel="external">John Resig</a></li>
                <li><a href="http://www.brucelawson.co.uk/" rel="external">Bruce Lawson</a></li>
                <li><a href="http://jeffrey-way.com/" rel="external">Jeffrey Way</a></li>
                <li><a href="http://www.ma.tt/" rel="external">Matt Mullenweg</a></li>
                <li><a href="http://remysharp.com/" rel="external">Remy Sharp</a></li>
                <li><a href="http://adactio.com/articles/" rel="external">Jeremy Keith</a></li>
              </ul>
            </div> -->
            <!-- /.widget-content -->

          <!-- </div> -->
          <!-- /.widget -->

          <!-- <div class="ask">
            <a href="http://beerblogging.org">
              <img src="http://media.zenorocha.com/beerblogging.png" alt="#beerblogging" />
            </a>
          </div> -->
          <!-- /.ask -->

        </div>
        <!-- /.action-buttons -->

        <!-- <div class="widget">

          <h3 class="title">
            <img src="http://media.zenorocha.com/beerblogging-title.png" alt="beerblogging" />
          </h3>

          <div class="widget-content">
            <ul>
              <li><a target="_blank" href="http://www.arruda.blog.br/" rel="external">Felipe Arruda</a></li>
              <li><a target="_blank" href="http://tiagoveloso.com/" rel="external">Tiago Veloso</a></li>
              <li><a target="_blank" href="http://nighto.net/" rel="external">Arlindo Pereira</a></li>
              <li><a target="_blank" href="http://victorfontes.com/" rel="external">Victor Fontes</a></li>
              <li><a target="_blank" href="http://pedromarins.com/" rel="external">Pedro Marins</a></li>
            </ul>
          </div> -->
          <!-- /.widget-content -->

        <!-- </div> -->
        <!-- /.widget -->

        <!-- <a href="http://promotejs.com/" title="Better JS Docs">
          <img src="http://static.jsconf.us/promotejsh.gif" height="150" width="180" alt="Better JS Docs"/>
        </a> -->

      </div> <!-- /#sidebar -->